# Qt
PySide6>=6.6,<7

# Async Qt bridge
qasync==0.28.0

# DB stack
SQLAlchemy==2.0.43
aiosqlite==0.21.0
tenacity==9.1.2
pyodbc>=4.0.39
python-tds==1.17.1

# Data stack (pin theo version Python để chắc có wheel)
# Python 3.13+
numpy==2.3.*; python_version >= "3.13"
pandas==2.3.*; python_version >= "3.13"

# Python < 3.13 (ví dụ 3.11/3.12)
numpy==2.1.*; python_version < "3.13"
pandas==2.2.*; python_version < "3.13"